/*  把padding和border算入宽度 */
* {
    box-sizing: border-box;
}

/* 消除List里的margin和padding */
ul {
    margin: 0;
    padding: 0;
}

/* 设置li样式 */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none; /*用户不能文本选中*/
}

/* 奇数li颜色不同，为了美观 */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* hover时背景色改变 */
ul li:hover {
    background: #ddd;
}

/* 当被选中，文字中加横线 */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* 为被选中的li增加 “对勾” 图标 */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* 关闭按钮样式 */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* 头部样式 */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* 清除浮动 */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* 输入框样式 */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: 0;
}

/* “添加”按钮样式 */
.addBtn {
    padding: 9px 10px 8px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}